name: JFrog SAST Scan

on:
  push:
    branches:
      - main
  pull_request:
  workflow_dispatch:

jobs:
  sast-scan:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Code
        uses: actions/checkout@v3
      - name: Debug JF_URL
        run: echo "JF_URL=$JF_URL"
        env:
          JF_URL: ${{ secrets.JF_URL }}        
      - name: Setup JFrog CLI
        uses: jfrog/setup-jfrog-cli@v4
        with:
          version: 'latest'
          
      - name: Run SAST Scan
        run: |
          jf c add --url=$JF_URL --access-token=$JF_ACCESS_TOKEN --interactive=false
          jf audit scan --sast
        env:
          JF_URL: ${{ secrets.JF_URL }}
          JF_ACCESS_TOKEN: ${{ secrets.JF_ACCESS_TOKEN }}
