name: CloudGuard Code Security

on: push

env:
  SPECTRAL_DSN: ${{ secrets.SPECTRAL_DSN }}
  
  # JFrog platform url (for example: https://acme.jfrog.io)
  JF_URL: ${{ vars.JF_URL }}

  # JFrog Platform access token
  JF_ACCESS_TOKEN: ${{ secrets.JF_ACCESS_TOKEN }}
  
jobs:
  sonar:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4
      with:
        fetch-depth: 0    
    - name: SonarQube Scan
      uses: sonarsource/sonarcloud-github-action@v4.0.0
      env:
        SONAR_TOKEN: ${{ secrets.SONAR_TOKEN }}
  spectral:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: CloudGuard Code Security Scan
        uses: checkpointsw/spectral-github-action@v4
        with:
          spectral-dsn: ${{ env.SPECTRAL_DSN }}
          spectral-args: scan --fail-on-error --engines secrets,iac,oss --asset-mapping github.${{ github.repository_owner }}
  
  audit-code:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: jfrog/setup-jfrog-cli@v4
      - run: |
          # Perform the scan and output results in JSON format
          jf audit --iac --secrets --sast | tee results.json
          # Display the results in the GitHub Actions log
          cat results.json
      # Upload the scan results as an artifact for later review
      - name: Upload Scan Results
        uses: actions/upload-artifact@v3
        with:
          name: scan-results
          path: results.json
